h2 {
  font-size: 3rem;
}

@font-face {
  font-family: "OpenSans";
  src: url("../font/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSans200";
  src: url("../font/OpenSans-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  font-family: OpenSans;
}

body {
  font-family: OpenSans200;
}

#index {
  background-image: url(../img/backPrivanza.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#index .header__bg {
  position: relative;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#index .header__bg__text {
  position: absolute;
  z-index: 1;
  width: 100%;
}

#index .header__text {
  margin: 20px auto;
  height: 80vh;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}

#index .header__text h5 {
  text-transform: uppercase;
}

#sobreNosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
  color: black;
}

#sobreNosotros h5 {
  color: black;
}

#sobreNosotros h3 {
  color: black;
}

#servicios {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#servicios .item--cobertura {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.maps {
  height: 50vh;
  width: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
}

#contacto {
  color: black;
  background-color: #016A2D;
}

.contacto {
  height: 500px;
  width: 50vw;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: 0;
  padding: 50px;
}

@media only screen and (max-width: 600px) {
  .maps {
    position: initial;
    height: 100%;
  }
  .contacto {
    position: initial;
    padding: 15px;
    width: 100vw;
    text-align: center;
  }
}

@media only screen and (min-width: 1280px) {
  .header__text {
    margin: 0 auto;
    max-width: 60%;
  }
  .header__text h2 {
    font-size: 5em;
  }
  .header__bg__text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 45px;
  right: 100px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 8px;
}
/*# sourceMappingURL=style.css.map */